In [ ]:

## single line comment
'''
multi
line comment
'''

'\nmulti\nline comment\n'

In [4]:
## basic syntax
## case sensitivity

name = "krish"
Name = "abrar"

print(name)
print(Name)

krish
abrar

In [6]:
## indentation

age = 32
if age > 30:
    print(age)
print(age)

32
32

In [7]:
## lin contunuation

total = 1+2+3+4+\
        5+6
print(total)

21

In [9]:
## multiple statement in a single line

x=5;y=10;z=x+y
print(z)

15

In [11]:
age = 32
name ="abrar"

print(type(age))
type(name)

<class 'int'>

str

In [13]:
if True:
    print("Correct Indentation")
    if False:
        ("This is not print")
    print("This will print")
print("hello")

Correct Indentation
This will print
hello