In [1]:
a =100

In [2]:
## declaring and assinging variables
age =32
height = 1.6
name = "abrar"
is_student= True

In [4]:
# valid variable

first_name = "Tintoiya"
last_name = "Abrar"

@name ="abrar"

Name = name

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3137743239.py, line 6)

In [5]:
# type chaecking and conversion
age =23
name ="abrar"
height = 6.1
is_student = True

print(type(age))

<class 'int'>

In [7]:
str_age = str(age)
print(type(str_age))

<class 'str'>

In [8]:
int(name)

ValueError: invalid literal for int() with base 10: 'abrar'

In [9]:
int(height)

6

In [10]:
float(height)

6.1

In [11]:
## Dynamic Typing
var =10
print(var,type(var))


var = "Hello"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [1]:
print("hello world")

hello world

In [2]:
name = input("what is your name")
print(name,type(name))

 <class 'str'>

In [5]:
#calculater
num1 = float(input("first number:"))
num2 = float(input("second number"))

sum = num1 + num2
dif = num1 - num2
prod = num1 * num2
quo = num1 / num2

print("sum:", sum)
print("dif:", dif)
print("prod:",prod)
print("quo:",quo)

sum: 35.0
dif: -11.0
prod: 276.0
quo: 0.5217391304347826