#### Loops
Video Outline:
1. Introduction to Loops
2. for Loop
   - Iterating over a range
   - Iterating over a string

3. while Loop
4. Loop Control Statements
    - break
    - continue
    - pass
5. Nested Loops
6. Practical Examples and Common Errors

In [1]:
## for loop
range(5)

range(0, 5)

In [2]:
for i in range(5):
  print(i)

0
1
2
3
4

In [4]:
for i in range(1,7):
  print(i)

1
2
3
4
5
6

In [6]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [9]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [11]:
str = "abrar tintoiya"

for i in str:
  print(i)

a
b
r
a
r

t
i
n
t
o
i
y
a

In [12]:
## while loop
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

In [13]:
i = 0
while i < 5:
  i += 1
  print(i)

1
2
3
4
5

In [15]:
count = 0

while count % 2 == 0:
  print(count)
  count += 1

0

In [17]:
## loop control statements
## break
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [18]:
## continue
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [19]:
for i in range(10):
  if i%2 == 0:
    continue
  print(i)

1
3
5
7
9

In [20]:
for i in range(10):
  if i%2 != 0:
    continue
  print(i)

0
2
4
6
8

In [23]:
## pass
for i in range(10):
   if i == 3:
    print("the number is", i)
    pass
   print(i)

0
1
2
the number is 3
3
4
5
6
7
8
9

In [24]:
## nested loops
for i in range(3):
  for j in range(3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [26]:
for i in range(3):
  for j in range(2):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [29]:
## Examples- calculate sum of first natural number
count = 0
sum = 0
number = int(input("Enter the number: "))

while count <= number:
  sum += count
  count += 1
print(sum)

Enter the number: 1000
500500

In [31]:
number = int(input("Enter the number: "))
sum = 0

for i in range(number+1):
  sum += i
print(sum)

Enter the number: 10
55

In [33]:
##-prime numbers between 1 and 100
for i in range(2,101):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
## Assingment --

#### Conclusion:
Loops are powerful constructs in Python that allow you to execute a block of code multiple times. By understanding and using for and while loops, along with loop control statements like break, continue, and pass, you can handle a wide range of programming tasks efficiently.