In [1]:
empty_tuples = ()

In [2]:
type(empty_tuples)

tuple

In [3]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
numbers = tuple([1,2,3,4,5,6,7])

In [5]:
print(numbers)

(1, 2, 3, 4, 5, 6, 7)

In [6]:
list((numbers))

[1, 2, 3, 4, 5, 6, 7]

In [7]:
tuple(numbers)

(1, 2, 3, 4, 5, 6, 7)

In [8]:
mixed_tuple = (1,"hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [9]:
## accesing tupple elements
print(mixed_tuple[0])
print(mixed_tuple[1])
print(mixed_tuple[2])
print(mixed_tuple[3])

1
hello
3.14
True

In [10]:
## immutable
mixed_tuple[0] = 2

TypeError: 'tuple' object does not support item assignment

In [11]:
## tuple methods
numbers

(1, 2, 3, 4, 5, 6, 7)

In [12]:
print(numbers.count(1))

1

In [13]:
numbers.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
print(numbers.index(4))

3

In [20]:
## packing and anpacking
packed_tuple = 1,2,"Hello"
print(packed_tuple)

(1, 2, 'Hello')

In [21]:
# unpacking
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
2
Hello

In [22]:
## unpack with
num = (1,2,3,4,5,6,7)
first,*middle,last = num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6]
7

In [25]:
## nested tuples
## nested list

lst = [[1,2,3,4],[5,6,7,8],['hello',3.14,'c']]
lst[0][2]

3

In [27]:
lst = [[1,2,3,4],[5,6,7,8],('hello',3.14,'c')]
lst[2][1]

3.14

In [28]:
nested_tuple = ((1,2,3),("a","b"),(True,False))
print(nested_tuple[1][1])

b

In [34]:
## itreting
for i in nested_tuple:
    for j in i:
        print(j,end=" ")
    print()

1 2 3
a b
True False