In [2]:
##
my_set = {1,2,3,4,5}
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5}

In [3]:
my_empty_set = set()
print(type(my_empty_set))
print(my_empty_set)

<class 'set'>
set()

In [6]:
my_set = {1,2,3,4,5,6,1,7,8,9,4,6,8,4,5,5}

In [7]:
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
## basic set operation
## adding and removing
my_set = {1,2,3,4,5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [9]:
## remove
my_set.remove(6)
print(my_set)

{1, 2, 3, 4, 5}

In [10]:
my_set.discard(11)

In [14]:
## pop method
removed_element = my_set.pop()
print(removed_element)

4

In [16]:
## clear
my_set.clear()
print(my_set)

set()

In [17]:
## set membership test

my_set = {1,2,3,4,5}
print(1 in my_set)
print(6 in my_set)

True
False

In [22]:
## methamaticle operation
set1={1,2,3,4,5}
set2={4,5,6,7,8}

##union
union_set = set1.union(set2)
print(union_set)

## intersaction
intersection_set = set1.intersection(set2)
print(intersection_set)

## difference
difference_set = set1.difference(set2)
print(difference_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [21]:
set1.intersection_update(set2)
print(set1)

{4, 5}

In [23]:
print(set2.difference(set1))

{8, 6, 7}

In [24]:
set2.difference_update(set1)
print(set2)

{6, 7, 8}

In [28]:
## symetri difference
set2={4,5,6,7,8}
set1={1,2,3,4,5}
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7, 8}

In [29]:
## sets method
set1 = {1,2,3}
set2 = {1,2,3,4,5}
print(set1.issubset(set2))
print(set2.issuperset(set1))
print(set1.isdisjoint(set2))

True
True
False

In [30]:
### task

lt = [1,2,3,3,4,5,5,6]
set(lt)

{1, 2, 3, 4, 5, 6}

In [32]:
## counting unit word in text

text = "in this tutorial we are discussing project"

words = text.split()
print(words)
unique_words = set(words)
print(unique_words)
word_count = len(unique_words)
print(word_count)

['in', 'this', 'tutorial', 'we', 'are', 'discussing', 'project']
{'in', 'discussing', 'project', 'are', 'we', 'tutorial', 'this'}
7