In [3]:
## creatin dictonary
empty_dict={}
print(empty_dict)
print(type(empty_dict))

empty_dict=dict()
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>
{}
<class 'dict'>

In [6]:
## key value pair
student = {"name":"abrar","age":32,"grad":24}
print(student)
print(type(student))

{'name': 'abrar', 'age': 32, 'grad': 24}
<class 'dict'>

In [8]:
student = {"name":"abrar","age":32,"name":24}
print(student)

{'name': 24, 'age': 32}

In [9]:
student = {"name":"abrar","age":32,"grad":"A"}
print(student['name'])

abrar

In [12]:
## accessing using get() method
student = {"name":"abrar","age":32,"grad":"A"}
print(student.get('name'))
print(student.get('agea'))
print(student.get('last_name',"Na"))

abrar
None
Na

In [16]:
## modifying dictionary elements
student = {"name":"abrar","age":32,"grad":"A"}
print(student)
##update
student['age']=33
print(student)
## add
student['last_name']='khan'
print(student)
## delete
del student['grad']
print(student)

{'name': 'abrar', 'age': 32, 'grad': 'A'}
{'name': 'abrar', 'age': 33, 'grad': 'A'}
{'name': 'abrar', 'age': 33, 'grad': 'A', 'last_name': 'khan'}
{'name': 'abrar', 'age': 33, 'last_name': 'khan'}

In [17]:
## Dictionary mehtods

##keys
student = {"name":"abrar","age":32,"grad":"A"}
print(student.keys())
##values
print(student.values())
##items
print(student.items())

dict_keys(['name', 'age', 'grad'])
dict_values(['abrar', 32, 'A'])
dict_items([('name', 'abrar'), ('age', 32), ('grad', 'A')])

In [18]:
## shallow copy
student_copy =student
print(student_copy)
student_copy['name']='ali'
print(student_copy)
print(student)

{'name': 'abrar', 'age': 32, 'grad': 'A'}
{'name': 'ali', 'age': 32, 'grad': 'A'}
{'name': 'ali', 'age': 32, 'grad': 'A'}

In [26]:
student_copy1 =student.copy()
print(student_copy1)
student['name']='abrar'
print(student_copy1)
print(student)

{'name': 'mujib', 'age': 32, 'grad': 'A'}
{'name': 'mujib', 'age': 32, 'grad': 'A'}
{'name': 'abrar', 'age': 32, 'grad': 'A'}

In [27]:
## iterating method Dictionary

student = {"name":"abrar","age":32,"grad":"A"}
for key in student:
    print(key)

name
age
grad

In [28]:
## for value
student = {"name":"abrar","age":32,"grad":"A"}
for value in student.values():
    print(value)

abrar
32
A

In [29]:
## for item
student = {"name":"abrar","age":32,"grad":"A"}
for item in student.items():
    print(item)

('name', 'abrar')
('age', 32)
('grad', 'A')

In [30]:
## Nested disctionaries
student ={
    "Student1":
    {
        "name":"abrar",
        "age":32
    },
    "Student2":
    {
        "name":"ali",
        "age":33
    }
}
print(student)

{'Student1': {'name': 'abrar', 'age': 32}, 'Student2': {'name': 'ali', 'age': 33}}

In [32]:
print(student['Student1'])
print(student['Student1']['name'])

{'name': 'abrar', 'age': 32}
abrar

In [34]:
## Iterating over nested dictionaries

for student_id,student_info in student.items():
    print("\nStudent ID:",student_id)
    for key in student_info:
        print(key+':',student_info[key])

Student ID: Student1
name: abrar
age: 32

Student ID: Student2
name: ali
age: 33

In [35]:
## Dictionary Comprehension
squares={num:num**2 for num in range(1,11)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [36]:
## conditions
squares={num:num**2 for num in range(1,11) if num%2==0}
print(squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [38]:
## practicle example

## use a dictionary to count the frequency of elements in list

numbers = [1,2,2,3,3,3,4,4,4,4,5,5,5]
frequency={num:numbers.count(num) for num in numbers}
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 3}

In [39]:
frequency={}
for num in numbers:
    frequency[num]=numbers.count(num)
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 3}

In [40]:
## merge 2 dictionaries into one

dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [41]:
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}