In [5]:
## functions

def function_name(parameters):
  """DOCSTRING"""
  #Function body
  return expression

In [6]:
def even_or_odd(num):
  """This function finds even or odd"""
  if num % 2 == 0:
    print("the number is even")
  else:
    print("the number is odd")

In [7]:
## call this function
even_or_odd(20)

the number is even

In [8]:
even_or_odd(21)

the number is odd

In [9]:
## function with multiple parameters
def add_numbers(num1, num2):
  """This function adds two numbers"""
  sum = num1 + num2
  return sum

In [10]:
add_numbers(23,45)

68

In [11]:
## default parameters
def add_numbers(num1, num2=10):
  """This function adds two numbers"""
  sum = num1 + num2
  return sum

In [13]:
add_numbers(20,20)

40

In [14]:
## variable length argument
##positional and keyword argument

def print_number(*args):
  for numbers in args:
    print(numbers)

In [15]:
print_number(10,20,30,40,"abrar")

10
20
30
40
abrar

In [20]:
##keyword argument\
def print_number(**kwargs):
  for key, value in kwargs.items():
    print(key,":", value)

In [21]:
print_number(name="abrar",age = 32,country ="india")

name : abrar
age : 32
country : india

In [22]:
## use both
def print_number(*args,**kwargs):
  for numbers in args:
    print(numbers)
  for key, value in kwargs.items():
    print(key,":", value)

In [23]:
print_number(10,20,30,40,name="abrar",age = 32,country ="india")

10
20
30
40
name : abrar
age : 32
country : india

In [24]:
## return statement
def multiply_function(a,b):
  return a*b

In [25]:
multiply_function(2,3)

6